<ul class="list-unstyled w-100">
  <% @non_memberships.each do |non_mem| %>
    <li>
      <div class="non-member-group d-flex flex-row align-items-center">
        <div class="group-name-cont">
          <p class="group-name"><%= link_to "#{non_mem.group_name}", groups_show_path(non_mem) %></p>
        </div>
        <div class="d-flex flex-row ml-auto sug-group-stat">
          <div class="d-flex mem-count align-items-center justify-content-center flex-column">
            <p><%= Membership.member_count(non_mem) %></p>
            <p>members</p>
          </div>
          <div class="d-flex new-act align-items-center justify-content-center flex-column">
            <p><%= ActivityEntry.recent_group_activity(non_mem) %></p>
            <p>new activities</p>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>