<ul class="list-unstyled pt-2 w-100 mb-0 pb-0 px-1">
  <% @recent_activities_all.limit(5).each do |activity| %>
    <li>
      <div class="my-group-name">
        <div class="profile-widget-group-name mb-2">
          <p class="d-inline-block mb-0 recent-activity-name">
            <%= link_to "#{activity.name}", activities_show_path(activity) %>
          </p>
          <p class="d-inline-block mb-0"> • <%= activity.calories %> cals</p>
          <p class="d-inline-block mb-0"> • <%= time_converter(activity.amount) %></p>
          <p class="d-inline-block mb-0"> • <%= time_ago_in_words(activity.created_at) %> ago</p>
        </div>
      </div>
    </li>
  <% end %>
</ul>