<div class="container-fluid d-flex flex-row justify-content-start align-items-start user-profile ml-auto mr-0 py-4 px-2">
  <div class="row col-12">
    <aside class="d-flex flex-column justify-content-center align-items-center profile-column col-3">
      <%= gravatar_for(current_user) %>
      <h1><%= full_name %></h1>
    </aside>
    <main class="d-flex flex-column main-column col-9">
      <ul>
        <li><p>option</p></li>
        <li><p>option</p></li>
        <li><p>option</p></li>
        <li><p>option</p></li>
        <li><p>option</p></li>
      </ul>
    </main>
  </div>
</div>