@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('ProximaNova-Regular.woff2') format('woff2'),
      url('ProximaNova-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('ProximaNova-Bold.woff2') format('woff2'),
      url('ProximaNova-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font: 300 16px/16px 'Proxima Nova Rg', monospace;
  height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

// FONTS ------------------------------------------------------------------------------------------//
.bold-title {
  font: 700 42px/42px 'Proxima Nova Bold', monospace;
}

// FLASH MESSAGES -----------------------------------------------------------------------------------//
.flash-messages {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #101010;
  font: 600 18px/18px 'Proxima Nova Rg', monospace;

  .notice {
    background-color: rgba(256, 256, 256, 0.7);
    border-radius: 4px;
  }

  .alert {
    background-color: rgba(199, 0, 57, 0.9);
    border-radius: 4px;
  }
}

// MAIN CONTAINER -----------------------------------------------------------------------------------//
.main-container {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient( 69deg,  rgba(55,120,194,1) 0.6%, rgba(41,90,146,1) 76.9% );
}

.main-card {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

// DEVISE PAGES -------------------------------------------------------------------------------------//

.devise-container {
  width: 100%;
  height: 80%;
  background: #fafbfd;
}

.devise-form-container {
  width: 65%;
}

// FORMS -------------------------------------------------------------//
form {
  width: 60%;
  margin: 8px 0;

  .field {
    width: 100%;
    padding: 8px 0px;
    label {
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      border: 1px solid darkblue;
      border-radius: 4px;
      padding: 8px;
      background-color: #fafbfd;
    }

    input[type="checkbox"] {
      width: fit-content;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }
  input[type="submit"] {
    padding: 8px;
    width: 50%;
    border: none;
    border-radius: 4px;
    background-color: #5fb523;
    color: #101010;
    text-transform: uppercase;
    font-weight: 900;
  }

  input[type="submit"]:hover {
    background-color: #8BC34A;
    color: #fff;
  }

  .actions.reset {
    input[type="submit"] {
      width: 100%;
    }
  }

  #error_explanation {
    h2 {
      color: #101010;
      font-size: 1em;
    }
    ul {
      color: #f00;
    }
  }
}

// NAVBAR ------------------------------------------------------------------------------------------//
.navbar {
  left: 0;
  top: 73px;
  bottom: 0;
  height: 85%;
  width: 15%;
  color: rgba(256, 256, 256, 0.8);
  font: 300 20px/20px 'Proxima Nova Rg', monospace;
  a {
    color: rgba(256, 256, 256, 0.8);
  }
  .navbar-nav  {
    width: 100% !important;
  }
  .nav-item {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    svg {
      position: absolute;
      left: -10px;
      border: 2px solid rgba(256, 256, 256, 0.5);
      height: 40px;
      width: 40px;
      padding: 5px;
      border-radius: 50%;
    }
    a {
      width: 80%;
      margin-left: auto;
      text-align: left;
      border-bottom: 2px solid #5089CA;
    }
  }
  .navbar-header {
    width: 100%;

    img {
      display: block;
      height: 125px;
      width: 125px;
      border-radius: 50%;
      border: 2px solid #5089CA;
      margin-bottom: 15px;
    }

    h3 {
      font: 300 22px/22px 'Proxima Nova Rg', monospace;
    }
  }
}

// SIGNED IN MAIN CONTAINER --------------------------------------------------------------------//
.signed-in-container {
  width: 85%;
  height: 85%;
  background-color: #fafbfd;
  border: 1px solid #3C6798;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  -moz-box-shadow: 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  box-shadow: 0px 0px 18px -1px rgba(40, 69, 101,0.8);
}

// USER SHOW PAGE ------------------------------------------------------------------------------//
.profile-top-section {
  height: 55%;
  width: 100%;
  border-bottom: 5px solid #D3E2F2;
  overflow: hidden;

  .profile-column {
    background-color: #5089CA;
    margin-top: 60px;
    height: 80%;
    width: 25%;
    border-radius: 8px;
    border: 1px solid #3C6798;
    -webkit-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
    -moz-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
    box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);

    .gravatar {
      height: 150px;
      width: 150px;
      border: 1px solid #3C6798;
      border-radius: 8px;
      -webkit-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
      -moz-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
      box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
    }

    .profile-name {
      font: 700 42px/42px 'Proxima Nova Bold';
      text-shadow: #32567E 3px 3px 6px;
      color: #fafbfd;
    }

    .profile-join {
      background-color: #284565;
      padding: 4px 12px;
      border-radius: 25px;
      color: #fafbfd;
      -webkit-box-shadow: 0px 0px 5px 1px rgba(40, 69, 101,0.8);
      -moz-box-shadow: 0px 0px 5px 1px rgba(40, 69, 101,0.8);
      box-shadow: 0px 0px 5px 1px rgba(40, 69, 101,0.8);
    }
  }

  .main-column {
    height: 100%;
    width: 75%;
    overflow: hidden;

    .profile-quicklinks {
      font: 700 20px/20px 'Proxima Nova Rg', monospace;
      margin-top: 20px;
      height: 15%;

      li {
        margin-right: 15px;
        background-color: rgba(55, 120, 194, 0.6);
        padding: 8px 20px 8px 14px;
        border-radius: 25px;
        transition-duration: 0.2s;

        &::before {
          content: '\2022';
          color: #fafbfd;
          font-weight: bold;
          display: inline-block;
          width: 0.8em;
          line-height: 22px;
        }

        a {
          color: #fafbfd;
        }

        &:hover {
          &::before,
          a {
            text-decoration: none;
            color: #32567E;
            transition-duration: 0.2s;
          }
        }
      }
    }

    .profile-quick-stats {
      padding: 0 0 24px 12px;
      height: 85%;
      width: 100%;

      .profile-activity-counter {
        height: 100%;
        width: 32%;
        border: 6px solid #BDD3EB;
        border-radius: 8px;
        text-align: center;
        padding-top: 20px;
        -webkit-box-shadow: inset 0px 0px 8px -1px rgba(0,56,84,0.9);
        -moz-box-shadow: inset 0px 0px 8px -1px rgba(0,56,84,0.9);
        box-shadow: inset 0px 0px 8px -1px rgba(0,56,84,0.9);

        .activity-count {
          font: 700 110px/100px 'Proxima Nova Rg';
          border-bottom: 5px solid #DAF7A6;
        }

        .quick-stats-weekly-overview {

          .quick-stats-weeks {
            width: 40%;
            p {
              font: 300 16px/16px 'Proxima Nova Rg';
              color: #505050;
            }
          }

          .quick-stats-dots {
            width: 60%;
            height: auto;
            margin-top: 3px;
            div {
              height: 32px;
            }
            p {
              font-size: 10px;
              line-height: 16px;
            }
            .fa-circle {
              margin-right: 12px;
              color: #284565;
            }
          }
        }
      }

      .profile-widget {
        width: 68%;
        height: 100%;
        text-align: left;

        div {
          height: 100%;
        }
        .profile-widget-activity {
          height: 100%;

          ul {
            overflow: hidden;
            overflow-y: auto;
          }

          h2 {
            font: 300 32px/32px 'Proxima Nova Rg', monospace;
          }

          li {
            width: auto;
            word-wrap: none;
            text-overflow: ellipsis;
            white-space: nowrap;

            .my-group-name {
              font: 300 18px/18px 'Proxima Nova Rg', monospace;
              float: left;

              .profile-widget-group-name {
                width: auto;
                background-color: #5089CA;
                margin-bottom: 5px;
                padding: 8px 12px;
                border-radius: 30px;
                border: 1px solid #4678B1;
                -webkit-box-shadow: 0px 1px 6px -1px rgba(18,33,48,1);
                -moz-box-shadow: 0px 1px 6px -1px rgba(18,33,48,1);
                box-shadow: 0px 1px 6px -1px rgba(18,33,48,1);
              }

              .recent-activity-name {
                font-weight: 700;
                background-color: #32567E;
                border: 1px solid #2C4B6E;
                color: #fafbfd;
                padding: 8px 14px;
                border-radius: 25px;
                -webkit-box-shadow: 0px 0px 2px 0px rgba(25,43,63,0.9);
                -moz-box-shadow: 0px 0px 2px 0px rgba(25,43,63,0.9);
                box-shadow: 0px 0px 2px 0px rgba(25,43,63,0.9);
              }
            }
          }
        }
      }
    }
  }
}

.profile-bottom-section {
  background-color: transparent;
  height: 45%;
  overflow: hidden;
  border-bottom: 1px solid #D3E2F2;

  .profile-activities-list {
    overflow: hidden;
    height: 12%;

    .all-activities-list {
      height: 88%;
      overflow-y: auto;

      .all-activities-item {
        width: auto;
        background-color: #bfbfbf;
        padding: 10px 14px;
        border-radius: 30px;
        border: 1px solid #8F8F8F;
        box-shadow: 0px 1px 4px 0px #101010;
      }
    }
  }

  .profile-group-list {
    overflow: hidden;
    height: 80%;

    h2 {
      height: 15%;
    }

    .my-groups-list {
      height: 85%;
      overflow: hidden;
      overflow-y: auto;
    }

    .my-group-name {
      width: auto !important;
      font-size: 26px;
      background-color: rgba(95, 181, 35,0.9);
      border: 1px solid #47881A;
      padding: 14px 24px 14px 20px;
      margin-right: 5px;
      margin-bottom: 10px;
      border-radius: 40px;
      overflow-y: auto;
      -webkit-box-shadow: 0px 1px 5px 0px rgba(24,45,9,1);
      -moz-box-shadow: 0px 1px 5px 0px rgba(24,45,9,1);
      box-shadow: 0px 1px 5px 0px rgba(24,45,9,1);

      svg {
        width: 47px;
        height: 47px;
        background-color: #fafbfd;
        padding: 9px 7px 7px 7px;
        margin-right: 12px;
        border-radius: 50%;
        border: 2px solid #539E1F;
        -webkit-box-shadow: inset 0px 0px 12px -4px rgba(24,45,9,1);
        -moz-box-shadow: inset 0px 0px 12px -4px rgba(24,45,9,1);
        box-shadow: inset 0px 0px 12px -4px rgba(24,45,9,1);
      }
    }
  }
}

// NEW ACTIVITY PAGE ------------------------------------------------------------------------------//
.new-activity-container {
  background: slateblue;
  width: 50%;
  height: 70%;

  .new-activity-form {
    width: 80%;
    background: darkcyan;
  }
}

// ACTIVITY ENTRIES SHOW PAGE ---------------------------------------------------------------------------//
.my-activities-container {
  width: 90%;
  height: 80%;
  background-image: linear-gradient( 69deg,  rgba(55,120,194,1) 0.6%, rgba(41,90,146,1) 76.9% );
  border-radius: 4px;
  border: 1px solid #3C6798;
  -webkit-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  -moz-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);

  header {
    h1 {
      color: #fafbfd;
      font: 700 48px/48px 'Proxima Nova Bold';
      margin-top: -20px;
    }

    p {
      font: 300 18px/18px 'Proxima Nova Rg';
      color: #fafbfd;
      text-align: center;
    }
  }

  .my-activities-list {
    width: 80%;
    height: 70%;
    background-color: #fafbfd;
    border: 1px solid #3C6798;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
    -moz-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
    box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);

    ul {
      height: 100%;
      overflow: hidden;
      overflow-y: auto;

      .activity-list-item {
        border-bottom: 1px solid #bfbfbf;
        padding: 14px 16px;

        .icon-title {
          font-size: 30px;
          p {
            width: 50px;
            height: 50px;
            background-color: #5fb523;
            border-radius: 50%;
            color: #fafbfd;
            border: 2px solid #539E1F;
          }
          
          h2 {
            margin-bottom: 0;
            font-size: 26px;
            font-weight: 400;

            a {
              color: inherit;
              text-decoration: none;
              transition-duration: 0.2s;

              &:hover {
                color: #5fb523;
                transition-duration: 0.2s;
              }
            }
          }
        }

        .my-activities-stats {
          background-color: rgba(55, 120, 194, 0.2);
          padding: 12px 16px;
          border-radius: 4px;
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// ACTIVITIES SHOW PAGE ------------------------------------------------------------------------------------//
.activities-show-card {
  background-color: #fafbfd;
  height: 70%;
  width: 50%;
}

