@import "bootstrap/scss/bootstrap";

// FONT FAMILIES ----------------------------------------------------------------------------------------------//
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('ProximaNova-Regular.woff2') format('woff2'),
      url('ProximaNova-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('ProximaNova-Bold.woff2') format('woff2'),
      url('ProximaNova-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// KEYFRAMES --------------------------------------------------------------------------------------------------//
@keyframes new-activity {
  0% {
    background-color: #A569BD;
  }
  75% {
    background-color: #7C4F8E;
  }
  100% {
    background-color: #673AB7;
  }
}

// GLOBAL SETTINGS ------------------------------------------------------------------------------------------------//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font: 300 16px/16px 'Proxima Nova Rg', monospace;
  height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

// FONTS ------------------------------------------------------------------------------------------//
.bold-title {
  font: 700 42px/42px 'Proxima Nova Bold', monospace;
}

// FLASH MESSAGES -----------------------------------------------------------------------------------//
.flash-messages {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #101010;
  font: 600 18px/18px 'Proxima Nova Rg', monospace;

  .notice {
    background-color: rgba(256, 256, 256, 0.7);
    border-radius: 4px;
  }

  .alert {
    background-color: rgba(199, 0, 57, 0.9);
    border-radius: 4px;
  }
}

// MAIN CONTAINER -----------------------------------------------------------------------------------//
.main-container {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient( 69deg,  rgba(55,120,194,1) 0.6%, rgba(41,90,146,1) 76.9% );
}

.main-card {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

// DEVISE PAGES -------------------------------------------------------------------------------------//

.devise-container {
  width: 100%;
  height: 80%;
  background: #fafbfd;
}

.devise-form-container {
  width: 65%;
}

// FORMS -------------------------------------------------------------//
form {
  width: 60%;
  margin: 8px 0;

  .field {
    width: 100%;
    padding: 8px 0px;
    label {
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      border: 1px solid darkblue;
      border-radius: 4px;
      padding: 8px;
      background-color: #fafbfd;
    }

    input[type="checkbox"] {
      width: fit-content;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }
  input[type="submit"] {
    padding: 8px;
    width: 50%;
    border: none;
    border-radius: 4px;
    background-color: #5fb523;
    color: #101010;
    text-transform: uppercase;
    font-weight: 900;
  }

  input[type="submit"]:hover {
    background-color: #8BC34A;
    color: #fff;
  }

  .actions.reset {
    input[type="submit"] {
      width: 100%;
    }
  }

  #error_explanation {
    h2 {
      color: #101010;
      font-size: 1em;
    }
    ul {
      color: #f00;
    }
  }
}

// NAVBAR ------------------------------------------------------------------------------------------//
.navbar {
  left: 0;
  top: 73px;
  bottom: 0;
  height: 85%;
  width: 15%;
  color: rgba(256, 256, 256, 0.8);
  font: 300 20px/20px 'Proxima Nova Rg', monospace;
  a {
    color: rgba(256, 256, 256, 0.8);
  }
  .navbar-nav  {
    width: 100% !important;
  }
  .nav-item {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    svg {
      position: absolute;
      left: -10px;
      border: 2px solid rgba(256, 256, 256, 0.5);
      height: 40px;
      width: 40px;
      padding: 5px;
      border-radius: 50%;
    }
    a {
      width: 80%;
      margin-left: auto;
      text-align: left;
      border-bottom: 2px solid #5089CA;
      transition-duration: 0.2s;
    }

    &:hover {
      a {
        border-bottom: 2px solid #5fb523;
        transition-duration: 0.15s;
      }
      svg {
        border: 2px solid #5fb523;
        transition-duration: 0.2s;
      }
    }
  }
  .navbar-header {
    width: 100%;

    img {
      display: block;
      height: 125px;
      width: 125px;
      border-radius: 50%;
      border: 2px solid #5089CA;
      margin-bottom: 15px;
    }

    h3 {
      font: 300 22px/22px 'Proxima Nova Rg', monospace;
    }
  }
}

// SIGNED IN MAIN CONTAINER --------------------------------------------------------------------//
.signed-in-container {
  width: 85%;
  height: 85%;
  background-color: #fafbfd;
  border: 1px solid #3C6798;
  border-right: none;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  -moz-box-shadow: 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  box-shadow: 0px 0px 18px -1px rgba(40, 69, 101,0.8);
}

// USER SHOW PAGE ------------------------------------------------------------------------------//
.profile-top-section {
  height: 55%;
  width: 100%;
  border-bottom: 5px solid #D3E2F2;
  overflow: hidden;

  .profile-column {
    background-color: #5089CA;
    margin-top: 60px;
    height: 80%;
    width: 25%;
    border-radius: 8px;
    border: 1px solid #3C6798;
    -webkit-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
    -moz-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
    box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);

    .gravatar {
      height: 150px;
      width: 150px;
      border: 1px solid #3C6798;
      border-radius: 8px;
      -webkit-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
      -moz-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
      box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
    }

    .profile-name {
      font: 700 42px/42px 'Proxima Nova Bold';
      text-shadow: #32567E 3px 3px 6px;
      color: #fafbfd;
    }

    .profile-join {
      background-color: #284565;
      padding: 4px 12px;
      border-radius: 25px;
      color: #fafbfd;
      -webkit-box-shadow: 0px 0px 5px 1px rgba(40, 69, 101,0.8);
      -moz-box-shadow: 0px 0px 5px 1px rgba(40, 69, 101,0.8);
      box-shadow: 0px 0px 5px 1px rgba(40, 69, 101,0.8);
    }
  }

  .main-column {
    height: 100%;
    width: 75%;
    overflow: hidden;

    .profile-quicklinks {
      font: 700 20px/20px 'Proxima Nova Rg', monospace;
      margin-top: 20px;
      height: 15%;

      li {
        margin-right: 15px;
        background-color: rgba(55, 120, 194, 0.6);
        padding: 8px 20px 8px 14px;
        border-radius: 25px;
        transition-duration: 0.2s;

        &::before {
          content: '\2022';
          color: #fafbfd;
          font-weight: bold;
          display: inline-block;
          width: 0.8em;
          line-height: 22px;
        }

        a {
          color: #fafbfd;
        }

        &:hover {
          &::before,
          a {
            text-decoration: none;
            color: #32567E;
            transition-duration: 0.2s;
          }
        }
      }
    }

    .profile-quick-stats {
      padding: 0 0 24px 12px;
      height: 85%;
      width: 100%;

      .profile-activity-counter {
        height: 100%;
        width: 32%;
        border: 6px solid #BDD3EB;
        border-radius: 8px;
        text-align: center;
        padding-top: 20px;
        -webkit-box-shadow: inset 0px 0px 8px -1px rgba(0,56,84,0.9);
        -moz-box-shadow: inset 0px 0px 8px -1px rgba(0,56,84,0.9);
        box-shadow: inset 0px 0px 8px -1px rgba(0,56,84,0.9);

        .activity-count {
          font: 700 110px/100px 'Proxima Nova Rg';
          border-bottom: 5px solid #DAF7A6;
        }

        .quick-stats-weekly-overview {

          .quick-stats-weeks {
            width: 40%;
            p {
              font: 300 16px/16px 'Proxima Nova Rg';
              color: #505050;
            }
          }

          .quick-stats-dots {
            width: 60%;
            height: auto;
            margin-top: 3px;
            div {
              height: 32px;
            }
            p {
              font-size: 10px;
              line-height: 16px;
            }
            .fa-circle {
              margin-right: 12px;
              color: #284565;
            }
          }
        }
      }

      .profile-widget {
        width: 68%;
        height: 100%;
        text-align: left;

        div {
          height: 100%;
        }
        .profile-widget-activity {
          height: 100%;

          ul {
            overflow: hidden;
            overflow-y: auto;
          }

          h2 {
            font: 300 32px/32px 'Proxima Nova Rg', monospace;
          }

          li {
            width: auto;
            word-wrap: none;
            text-overflow: ellipsis;
            white-space: nowrap;

            .my-group-name {
              font: 300 18px/18px 'Proxima Nova Rg', monospace;
              float: left;

              .profile-widget-group-name {
                width: auto;
                background-color: #5089CA;
                margin-bottom: 5px;
                padding: 8px 12px;
                border-radius: 30px;
                border: 1px solid #4678B1;
                -webkit-box-shadow: 0px 1px 6px -1px rgba(18,33,48,1);
                -moz-box-shadow: 0px 1px 6px -1px rgba(18,33,48,1);
                box-shadow: 0px 1px 6px -1px rgba(18,33,48,1);
              }

              .recent-activity-name {
                font-weight: 700;
                background-color: #32567E;
                border: 1px solid #2C4B6E;
                color: #fafbfd;
                padding: 8px 14px;
                border-radius: 25px;
                -webkit-box-shadow: 0px 0px 2px 0px rgba(25,43,63,0.9);
                -moz-box-shadow: 0px 0px 2px 0px rgba(25,43,63,0.9);
                box-shadow: 0px 0px 2px 0px rgba(25,43,63,0.9);

                a {
                  color: inherit;
                  text-decoration: none;
                  transition-duration: 0.2s;
                  
                  &:hover {
                    text-decoration: none;
                    color: #5fb523;
                    transition-duration: 0.15s;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.profile-bottom-section {
  background-color: transparent;
  height: 45%;
  overflow: hidden;
  border-bottom: 1px solid #D3E2F2;

  .profile-activities-list {
    overflow: hidden;
    height: 12%;

    .all-activities-list {
      height: 88%;
      overflow-y: auto;

      .all-activities-item {
        width: auto;
        background-color: #bfbfbf;
        padding: 10px 14px;
        border-radius: 30px;
        border: 1px solid #8F8F8F;
        box-shadow: 0px 1px 4px 0px #101010;

        a {
          color: inherit;
          text-decoration: none;
          transition-duration: 0.2s;

          &:hover {
            color: #3C6798;
            text-decoration: none;
            transition-duration: 0.15s;
          }
        }
      }
    }
  }

  .profile-group-list {
    overflow: hidden;
    height: 80%;

    h2 {
      height: 15%;
    }

    .my-groups-list {
      height: 85%;
      overflow: hidden;
      overflow-y: auto;
    }

    .my-group-name {
      width: auto !important;
      font-size: 26px;
      background-color: rgba(95, 181, 35,0.9);
      border: 1px solid #47881A;
      padding: 14px 24px 14px 20px;
      margin-right: 5px;
      margin-bottom: 10px;
      border-radius: 40px;
      overflow-y: auto;
      -webkit-box-shadow: 0px 1px 5px 0px rgba(24,45,9,1);
      -moz-box-shadow: 0px 1px 5px 0px rgba(24,45,9,1);
      box-shadow: 0px 1px 5px 0px rgba(24,45,9,1);

      svg {
        width: 47px;
        height: 47px;
        background-color: #fafbfd;
        padding: 9px 7px 7px 7px;
        margin-right: 12px;
        border-radius: 50%;
        border: 2px solid #539E1F;
        -webkit-box-shadow: inset 0px 0px 12px -4px rgba(24,45,9,1);
        -moz-box-shadow: inset 0px 0px 12px -4px rgba(24,45,9,1);
        box-shadow: inset 0px 0px 12px -4px rgba(24,45,9,1);
      }

      a {
        color: inherit;
        transition-duration: 0.2s;

        &:hover {
          color: #DAF7A6;
          text-decoration: none;
          transition-duration: 0.15s;
        }
      }
    }
  }
}

// NEW ACTIVITY PAGE ------------------------------------------------------------------------------//
.new-activity-container {
  background-image: linear-gradient( 69deg,  rgba(55,120,194,1) 0.6%, rgba(60, 103, 152,1) 76.9% );
  width: 90%;
  height: 80%;
  border-radius: 6px;
  border: 1px solid #3C6798;
  -webkit-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  -moz-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);

  h1 {
    color: #fafbfd;
    font: 700 48px/48px 'Proxima Nova Bold';
    margin-top: -20px;
  }

  p {
    font: 300 18px/18px 'Proxima Nova Rg';
    color: #fafbfd;
    text-align: center;
  }

  .new-activity-form {
    width: 70%;
    height: 70%;
    background: #fafbfd;
    -webkit-box-shadow: 0px 0px 22px -2px rgba(40, 69, 101,0.8);
    -moz-box-shadow: 0px 0px 22px -2px rgba(40, 69, 101,0.8);
    box-shadow: 0px 0px 22px -2px rgba(40, 69, 101,0.8);
    border: 1px solid #3C6798;
    border-radius: 4px;
    font: 300 20px/20px 'Proxima Nova Rg', monospace;

    .new-activity-form-fields {
      .field {
        margin-bottom: 10px;

        input[type="text"] {
          background-color: #4678B1;
          border: 1px solid #3D699B;
          color: #fafbfd;
          text-shadow: #3D699B 2px 2px 1px;
          -webkit-box-shadow: inset 0px 0px 2px 0px rgba(40, 69, 101,0.6);
          -moz-box-shadow: inset 0px 0px 2px 0px rgba(40, 69, 101,0.6);
          box-shadow: inset 0px 0px 2px 0px rgba(40, 69, 101,0.6);
          &::placeholder {
            color: #7FB3D5;
          }
        }
      }

      .last-field {
        text-align: center;
        label {
          font-size: 20px;
        }

        select {
          height: 35px;
          text-align: center;
          margin-left: 10px;
          font-size: 14px;
          background-color: #4678B1;
          border: 1px solid #3D699B;
          color: #fafbfd;
          text-shadow: #3D699B 2px 2px 1px;
          -webkit-box-shadow: inset 0px 0px 2px 0px rgba(40, 69, 101,0.6);
          -moz-box-shadow: inset 0px 0px 2px 0px rgba(40, 69, 101,0.6);
          box-shadow: inset 0px 0px 2px 0px rgba(40, 69, 101,0.6);
        }
      }
    }

    .submit-btn {
      width: 250px;
      height: 45px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      color: #fafbfd;
      text-shadow: 0 0 2px #47881A;
      transition-duration: 0.2s;

      &:hover {
        background-color: #87C85A;
        position: relative;
        transition-duration: 0.15s;
      }
    }
  }
}

// ACTIVITY ENTRIES SHOW PAGE ---------------------------------------------------------------------------//
.my-activities-container {
  position: relative;
  width: 90%;
  height: 80%;
  background-image: linear-gradient( 69deg,  rgba(55,120,194,1) 0.6%, rgba(41,90,146,1) 76.9% );
  border-radius: 4px;
  border: 1px solid #3C6798;
  -webkit-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  -moz-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);

  .new-activity {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 12px 14px;
    border-radius: 6px;
    border: 2px solid rgba(256, 256, 256, 0.4);
    transition-duration: 0.2s;

    &:hover {
      border: 2px solid #fafbfd;
      transition-duration: 0.15s;

      a {
        color: #fafbfd;
        text-decoration: none;
        transition-duration: 0.15s;
      }
    }

    a {
      font: 600 18px/18px 'Proxima Nova Rg';
      color: rgba(256, 256, 256, 0.6);
      transition-duration: 0.2s;
    }
  }

  header {
    h1 {
      color: #fafbfd;
      font: 700 48px/48px 'Proxima Nova Bold';
      margin-top: -20px;
    }

    p {
      font: 300 18px/18px 'Proxima Nova Rg';
      color: #fafbfd;
      text-align: center;
    }
  }

  .my-activities-list {
    width: 90%;
    height: 70%;
    background-color: #fafbfd;
    border: 1px solid #3C6798;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
    -moz-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
    box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);

    ul {
      height: 100%;
      overflow: hidden;
      overflow-y: auto;

      .activity-list-item {
        border-bottom: 1px solid #bfbfbf;
        padding: 14px 16px;

        .icon-title {
          font-size: 30px;
          p {
            width: 50px;
            height: 50px;
            background-color: #5fb523;
            border-radius: 50%;
            color: #fafbfd;
            border: 2px solid #539E1F;
          }
          
          h2 {
            max-width: 500px;
            margin-bottom: 0;
            font-size: 23px;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            a {
              width: 100%;
              color: inherit;
              text-decoration: none;
              transition-duration: 0.2s;

              &:hover {
                color: #5fb523;
                transition-duration: 0.2s;
              }
            }
          }
        }

        .activity-list-delete {
          form {
            width: auto;

            input[type="submit"] {
              text-transform: initial;
              width: auto;
              background-color: transparent;
              border: 2px solid #F5B7B1;
              border-radius: 6px;
              padding: 8px 10px;
              color: #F5B7B1;
              transition-duration: 0.2s;

              &:hover {
                border: 2px solid #D98880;
                color: #D98880;
                transition-duration: 0.15s;
              }
            }
          }
        }

        .my-activities-stats {
          background-color: rgba(55, 120, 194, 0.2);
          padding: 12px 16px;
          border-radius: 4px;
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// ACTIVITIES SHOW PAGE ------------------------------------------------------------------------------------//
.show-activity {
  form {
    position: absolute;
    top: 5px;
    right: 15px;
    width: auto;
  
    input[type="submit"] {
      background-color: transparent;
      width: 80px;
      border: 2px solid rgba(256, 256, 256, 0.4);
      text-transform: initial;
      color: rgba(256, 256, 256, 0.4);
      transition-duration: 0.2s;
  
      &:hover {
        background-color: transparent;
        border: 2px solid #fafbfd;
        color: #fafbfd;
        transition-duration: 0.15s;
      }
    }
  }
}

.activities-show-card {
  position: relative;
  background-color: #fafbfd;
  height: 75%;
  width: 50%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
  -moz-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
  box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);


  .group-badge {
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;


    p {
      font-size: 28px;
      font-weight: 600;

      a {
        color: inherit;
        transition-duration: 0.2s;

        &:hover {
          color: #3D699B;
          text-decoration: none;
          transition-duration: 0.15s;
        }
      }
    }

    .icon {
      background-color: #5fb523;
      width: 100px;
      height: 100px;
      font-size: 56px;
      border-radius: 50%;
      color: #fafbfd;
      border: 2px solid #539E1F;
    }
  }

  .workout-time {
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    font-size: 36px;
    
    p {
      text-shadow: 0px 15px 18px rgba(149,149,149,0.87);
    }
  }

  .calories-main {
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    font-size: 36px;
    p:last-child {
      font-size: 20px;
    }
  } 

  .calories-stats {
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;

    .cal-stats-top {
      border-bottom: 1px solid #dfdfdf;
      font-size: 42px;

      .gold {
        color: #F1C40F;
      }

      .silver {
        color: #B2BABB;
      }

      .bronze {
        color: #B9770E;
      }

      .award {
        color: #A569BD;
      }

      .rank-phrase {
        font-size: 16px;
        padding: 8px 12px;
        text-align: center;
      }
    }

    .cal-stats-bottom {
      border-top: 1px solid #dfdfdf;

      .cals-ph {
        p:first-child {
          font-size: 22px;
        }

        border-right: 1px solid #dfdfdf;
      }

      .cals-pm {
        p:first-child {
          font-size: 22px;
        }

        border-left: 1px #dfdfdf;
      }
    }
  }
}

// MY GROUPS PAGE --------------------------------------------------------------------------------//
.my-groups-container {
  position: relative;
  background-image: linear-gradient( 69deg,  rgba(55,120,194,1) 0.6%, rgba(60, 103, 152,1) 76.9% );
  width: 90%;
  height: 80%;
  border-radius: 6px;
  border: 1px solid #3C6798;
  -webkit-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  -moz-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);

  .new-group {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 12px 14px;
    border-radius: 6px;
    border: 2px solid rgba(256, 256, 256, 0.4);
    transition-duration: 0.2s;

    &:hover {
      border: 2px solid #fafbfd;
      transition-duration: 0.15s;

      a {
        color: #fafbfd;
        text-decoration: none;
        transition-duration: 0.15s;
      }
    }

    a {
      font: 600 18px/18px 'Proxima Nova Rg';
      color: rgba(256, 256, 256, 0.6);
      transition-duration: 0.2s;
    }
  }

  header {
    text-align: center;

    h1 {
      color: #fafbfd;
      font: 700 48px/48px 'Proxima Nova Bold';
      margin-top: -20px;
    }

    p {
      font: 300 18px/18px 'Proxima Nova Rg';
      color: #fafbfd;
      text-align: center;
    }
  }

  .my-groups-main-card {
    background-color: #fafbfd;
    width: 92%;
    height: 75%;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
    -moz-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
    box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);

    .my-groups-list {
      border-right: 2px solid #dfdfdf;
      width: 65%;
      overflow: hidden;

      ul {
        overflow-y: auto;
      }

      .group-list-item {
        border-bottom: 2px solid #dfdfdf;
        padding: 18px 16px;
        
        p {
          margin-bottom: 0;
        }

        .group-list-name {
          width: auto;
          font-size: 26px;
          line-height: 28px;
          background-color: #5fb523;
          padding: 12px 18px;
          border-radius: 40px;
          border: 2px solid #539E1F;
          -webkit-box-shadow: 0px 1px 5px 0px rgba(24,45,9,1);
          -moz-box-shadow: 0px 1px 5px 0px rgba(24,45,9,1);
          box-shadow: 0px 1px 5px 0px rgba(24,45,9,1);

          .icon {
            margin-right: 20px;
            background-color: #fafbfd;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            border: 2px solid #539E1F;
            -webkit-box-shadow: inset 0px 0px 12px -4px rgba(24,45,9,1);
            -moz-box-shadow: inset 0px 0px 12px -4px rgba(24,45,9,1);
            box-shadow: inset 0px 0px 12px -4px rgba(24,45,9,1);
          }

          .name {
            tex-align: center;
            white-space: pre-line;

            a {
              color: initial;
              transition-duration: 0.2s;
              white-space: pre-line;

              &:hover {
                color: #DAF7A6;
                text-decoration: none;
                transition-duration: 0.15s;
              }
            }
          }
        }

        .group-list-stats {
          background-color: rgba(55,120,194,0.3);
          border-radius: 50px;
          text-align: center;
          border: 2px solid rgba(55,120,194,0.1);

          .group-list-item-info {
            padding: 18px 20px;
            position: relative;

            p {
              font-size: 14px;
            }

            .stat-main {
              font-size: 24px;
              margin-bottom: 5px;
            }

            .time {
              font-size: 16px;
            }

            .recent {
              position: relative;
              left: -5px;
            }

            .fa-bolt {
              position: relative;
              top: 2px;
              font-size: 12px;
              width: 15px;
              height: 15px;
              margin-left: 5px;
              margin-right: -12px;
              background-color: #A569BD;
              border-radius: 50%;
              color: #fafbfd;
              padding: 3px 3px 3px 4px;
              animation: new-activity 2s infinite;
            }
          }

          .first, 
          .second {
            border-right: 1px solid rgba(55,120,194,0.1);
          }

          .second,
          .third {
            border-left: 1px solid rgba(55,120,194,0.1);
          }
        }
      }
    }
    .my-groups-join {
      width: 35%;
      overflow: hidden;

      h2 {
        text-align: center;
        font-size: 26px;
      }

      ul {
        overflow-y: auto;
      }

      .non-member-group {
        border-bottom: 1px solid #dfdfdf;
        padding: 8px 14px;

        .group-name-cont {
          max-width: 45%;
        }

        .group-name {
          font-size: 22px;
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;
          word-break: normal;
          text-overflow: ellipsis;
          overflow: hidden;
          
          a {
            color: #3C6798;
            transition-duration: 0.2s;

            &:hover {
              color: #A569BD;
              text-decoration: none;
              transition-duration: 0.15s;
            }
          }
        }

        .sug-group-stat {
          text-align: center;
          background-color: rgba(206, 147, 216, 0.3);

          .mem-count {
            border-right: 1px solid rgba(206, 147, 216, 0.1);
            padding: 8px 12px;
          }

          .new-act {
            border-left: 1px solid rgba(206, 147, 216, 0.1);
            padding: 8px 12px;
          }
          div {
            p:first-child {
              font-size: 18px;
            }
            p:last-child {
              font-size: 12px;
            }
          }
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

// GROUPS SHOW PAGE ---------------------------------------------------------------------------//
.groups-show-container {
  background-image: linear-gradient( 69deg,  rgba(55,120,194,1) 0.6%, rgba(60, 103, 152,1) 76.9% );
  width: 90%;
  height: 80%;
  border-radius: 6px;
  border: 1px solid #3C6798;
  -webkit-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  -moz-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);

  header {
    text-align: center;

    h1 {
      color: #fafbfd;
      font: 700 48px/48px 'Proxima Nova Bold';
      margin-top: -20px;
    }

    p {
      font: 300 18px/18px 'Proxima Nova Rg';
      color: #fafbfd;
      text-align: center;
    }
  }

  .group-show-main-card {
    background-color: #fafbfd;
    width: 90%;
    height: 80%;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
    -moz-box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);
    box-shadow: 0px 0px 28px -2px rgba(40, 69, 101,0.8);

    .group-bio {
      width: 25%;
      border-right: 1px solid #dfdfdf;

      h2 {
        font: 400 36px/36px 'Proxima Nova Rg', monospace;
      }

      p {
        text-align: center;
        font: 400 18px/20px 'Proxima Nova Rg', monospace;
      }

      .group-bio-top {
        border-bottom: 2px solid #dfdfdf;
        text-align: center;

        .group-icon {
          background-color: #5fb523;
          height: 150px;
          width: 150px;
          border-radius: 50%;
          border: 2px solid #539E1F;
          -webkit-box-shadow: 0px 1px 5px 0px rgba(24,45,9,1);
          -moz-box-shadow: 0px 1px 5px 0px rgba(24,45,9,1);
          box-shadow: 0px 1px 5px 0px rgba(24,45,9,1);

          svg {
            width: 80px;
            height: 80px;
            padding: 10px;
            background-color: #fafbfd;
            border-radius: 50%;
            border: 2px solid #539E1F;
            -webkit-box-shadow: inset 0px 0px 12px -4px rgba(24,45,9,1);
            -moz-box-shadow: inset 0px 0px 12px -4px rgba(24,45,9,1);
            box-shadow: inset 0px 0px 12px -4px rgba(24,45,9,1);
          }
        }
      }

      .group-bio-bottom {
        form {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: auto;
          margin: 0;

          input[type="submit"] {
            width: 80%;
            height: 40px;
            color: #fafbfd;
          }
        }

        .join {
          input[type="submit"]{
            transition-duration: 0.2s;
            -webkit-box-shadow: 0px 2px 7px -1px rgba(76,110,52,1);
            -moz-box-shadow: 0px 2px 7px -1px rgba(76,110,52,1);
            box-shadow: 0px 2px 7px -1px rgba(76,110,52,1);

            &:hover {
              background-color: #87C85A;
              transition-duration: 0.15s;
              -webkit-box-shadow: 0px 2px 3px -2px rgba(76,110,52,1);
              -moz-box-shadow: 0px 2px 3px -2px rgba(76,110,52,1);
              box-shadow: 0px 2px 3px -2px rgba(76,110,52,1);
            }
          }
        }

        .leave {
          input[type="submit"]{
            background-color: #C0392B;
            transition-duration: 0.2s;
            -webkit-box-shadow: 0px 2px 7px -1px rgba(107,32,26,0.8);
            -moz-box-shadow: 0px 2px 7px -1px rgba(107,32,26,0.8);
            box-shadow: 0px 2px 7px -1px rgba(107,32,26,0.8);

            &:hover {
              background-color: #f00;
              transition-duration: 0.15s;
              -webkit-box-shadow: 0px 2px 3px -2px rgba(107,32,26,1);
              -moz-box-shadow: 0px 2px 3px -2px rgba(107,32,26,1);
              box-shadow: 0px 2px 3px -2px rgba(107,32,26,1);
            }
          }
        }

        .group-delete-button {
          input[type="submit"] {
            margin-top: 10px;
            font-size: 14px;
            width: auto;
            background: transparent;
            border: 2px solid #C0392B;
            color: #C0392B;
            text-transform: initial;
            transition-duration: 0.2s;

            &:hover {
              background-color: #f00;
              color: #fafbfd;
              border: 2px solid #f00;
              transition-duration: 0.15s;
            }
          }
        }
      }

    }
    .group-right-container {
      width: 75%;

      .group-info {
        border-left: 1px solid #dfdfdf;
        height: 60%;

        h3 {
          width: 100%;
          font-size: 26px;
          text-align: left;
          padding-left: 26px;
        }

        .group-member-list {
          height: 100%;
          overflow: hidden;
          border-bottom: 1px solid #dfdfdf;

          ul {
            height: 100%;
            overflow-y: auto;

            .group-member-list-item {
              border-bottom: 2px solid #dfdfdf;
              height: 80px;

              p {
                font-size: 14px;
                margin-bottom: 0;
              }

              .user-name {
                p {
                  font-size: 26px;
                  margin-left: 10px;
                }

                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  margin-left: 20px;
                }
              }

              .group-badge {
                width: 120px;
                text-align: center;
                background-color: rgba(206, 147, 216, 0.4);

                svg {
                  width: 30px;
                  height: 30px;
                  margin-bottom: 5px;
                }

                .gold {
                  color: #F1C40F;
                }

                .silver {
                  color: #B2BABB;
                }

                .bronze {
                  color: #B9770E;
                }

                .creator {
                  color: #673AB7;
                }
              }

              .joined {
                text-align: center;
                width: 80px;
              }
            }
          }
        }
      }

      .group-activities {
        height: 40%;
        width: 100%;
        overflow: hidden;
        border-top: 1px solid #8F8F8F;

        p {
          margin-bottom: 0;
        }

        ul {
          height: 100%;
          overflow-y: scroll;
        }
        
        .group-activity-list-item {
          margin-bottom: 10px;
          padding: 10px;
          border-bottom: 1px solid #EBDEF0;

          .name-author {
            height: 50px;
            padding: 8px 14px;
            background-color: rgba(55,120,194,0.2);
            border-radius: 8px 8px 8px 0;

            .name {
              font-size: 18px;
              font-weight: 400;

              a {
                color: #5089CA;
                transition-duration: 0.2s;

                &:hover {
                  color: #A569BD;
                  transition-duration: 0.15s;
                  text-decoration: none;
                }
              }
            }

            .author {
              font-size: 14px;
            }
          }

          .activity-stats {
            height: 50px;
            padding: 8px 14px;
            background-color: rgba(206, 147, 216, 0.3);
            border-radius: 8px 8px 0 8px;
          }
        }
      }
    }
  }
}

// NEW GROUP PAGE --------------------------------------------------------------------------------//
.new-group-container {
  position: relative;
  background-image: linear-gradient( 69deg,  rgba(55,120,194,1) 0.6%, rgba(60, 103, 152,1) 76.9% );
  width: 90%;
  height: 80%;
  border-radius: 6px;
  border: 1px solid #3C6798;
  -webkit-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  -moz-box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  box-shadow: inset 0px 0px 18px -1px rgba(40, 69, 101,0.8);
  text-align: center;

  h1 {
    color: #fafbfd;
    font: 700 48px/48px 'Proxima Nova Bold';
    margin-top: -20px;
  }
  
  p {
    font: 300 18px/18px 'Proxima Nova Rg';
    color: #fafbfd;
    text-align: center;
  }

  .error-explanation {
    width: 60%;
    height: auto;
    color: #101010;
  }

  .new-group-form {
    width: 70%;
    height: 70%;
    background: #fafbfd;
    -webkit-box-shadow: 0px 0px 22px -2px rgba(40, 69, 101,0.8);
    -moz-box-shadow: 0px 0px 22px -2px rgba(40, 69, 101,0.8);
    box-shadow: 0px 0px 22px -2px rgba(40, 69, 101,0.8);
    border: 1px solid #3C6798;
    border-radius: 4px;
    font: 300 20px/20px 'Proxima Nova Rg', monospace;


    .new-group-form-fields {
      label {
        text-align: left;
        width: 100%;
      }

      .field {
        margin-bottom: 10px;

        input[type="text"] {
          background-color: #4678B1;
          border: 1px solid #3D699B;
          color: #fafbfd;
          text-shadow: #3D699B 2px 2px 1px;
          -webkit-box-shadow: inset 0px 0px 2px 0px rgba(40, 69, 101,0.6);
          -moz-box-shadow: inset 0px 0px 2px 0px rgba(40, 69, 101,0.6);
          box-shadow: inset 0px 0px 2px 0px rgba(40, 69, 101,0.6);
          &::placeholder {
            color: #7FB3D5;
          }
        }
      }

      .last-field {
        text-align: center;
        label {
          width: auto;
          font-size: 20px;
        }

        select {
          height: 35px;
          text-align: center;
          margin-left: 10px;
          font-size: 14px;
          background-color: #4678B1;
          border: 1px solid #3D699B;
          color: #fafbfd;
          text-shadow: #3D699B 2px 2px 1px;
          -webkit-box-shadow: inset 0px 0px 2px 0px rgba(40, 69, 101,0.6);
          -moz-box-shadow: inset 0px 0px 2px 0px rgba(40, 69, 101,0.6);
          box-shadow: inset 0px 0px 2px 0px rgba(40, 69, 101,0.6);
        }
      }
    }

  .submit-btn {
    width: 250px;
    height: 45px;
    position: relative;
    color: #fafbfd;
    text-shadow: 0 0 2px #47881A;
    transition-duration: 0.2s;

    &:hover {
      background-color: #87C85A;
      position: relative;
      transition-duration: 0.15s;
    }
  }
  }
}
