<main class="d-flex flex-column w-100 h-100 justify-content-center align-items-center">
  <div class="new-activity-container d-flex justify-content-center align-items-center flex-column">
    <h1>Create A New Activity</h1>
    <p>Log your latest activities</p>
    <%= render 'activities/new_form' %>
  </div>
</main>